<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/modules.css">
    
    <title>Your Collection of Books</title>
</head>
    <body>
        <main>
            <h4>Search Books by Title or Author</h4>
            <form action="/searches" method="post">
            <section>   
                <input class="form-box" type="text" name="search" placeholder="Please enter a Title or Author" required>
                <fieldset>
                    <label for="title">
                        <span>Title</span>
                        <input type="radio" name="search" value="title" required>
                    </label>
                </fieldset>
                <fieldset>
                    <label for="author">
                        <span>Author</span>
                        <input type="radio" name="search" value="author" required>
                    </label>
                </fieldset>
                <button type="submit" class="form-box">Search Powered By Google</button>

            </section>
        </form>
        </main>
    </body>
</html>