<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/modules.css">
    
    <title>Document</title>
</head>
<body>
    <main>
        <% searchResults.forEach( book => { %>
            <h2><%= book.title %></h2>
            <h3><%= book.authors %></h3>
            <p><%= book.description %></p>
            <p><%= book.image_url %></p>
        <% }) %>
</body>
</html>