
*{
  box-sizing: border-box;
}
body {
  width: 768px;
  margin: 0 auto;
  text-align: center;
  background-color: grey;
}
.book-section h2 {
  margin-bottom: 5px;
  font-size: 1.5em;
  
}
.book-section{
  margin-bottom: 20px;
  width: 768px;
  background-color: rgb(213, 210, 210);
  text-align: center;
}
.book-section p {
  width: 768px;
  padding: 20px 100px 20px 100px;
}
/* .book-section  */
.book-section img {
  margin-top: 30px;
  margin-bottom: 10px;
  border: 2px white solid;
}


h4 {
  font-size: 1.5em;
  margin: 20px 0 20px 0;
  background-color:  rgb(213, 210, 210);
  padding: 20px;
}
form {
  background-color: rgb(213, 210, 210);
  padding: 10px;
  flex-flow: column nowrap;
  display: flex;
  justify-content: center;
}
form section {
  text-align: left;
  padding-left: 35%;
}
fieldset {
  border: black solid 1px;
  width: 200px;
  padding: 10px;
}
fieldset:last-of-type {
  margin-top: 10px;
}
.form-box{
  width: 200px;
  height: 40px;
  margin: 5px 0 5px 0;
}
